*{
	margin:0;
	padding:0;
	font-size:14px;
	font-family:'微软雅黑';
}
ul{
	list-style:none;
}
a{
	text-decoration: none;
	color:#fff;
}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/*header*/
@media (max-width: 980px){
    .header .container {
        width: 956px;
    }
    .header img{width:100px !important;}
    .header .header-title .title-li {
        color: #fff;
        display: inline-block;
        width: 100px;
        height: 70px;
        text-align: center;
        line-height: 70px;
        position: relative;
        font-size: 14px;
    }
    .header .header-title{
        position: relative;
    }
    .fixed .header-title{
        position: relative;
    }
    .fixed .container {
        width: 956px;
    }
}
 .header{
	position: fixed;
    left:0;
    right:0;
    top:0;
    z-index:100;
    transition:all .5s ease;
    border-bottom: 1px solid #ffffff40;
}
 .fixed{
	position: fixed;
	left:0;
    right:0;
    top:0;
    z-index:100;
    transition:all .5s ease;
    min-width: 1180px;
    background: #fff;
    color:#151515;
}
.header img{
	width:220px;
	line-height: 70px;
	margin-top:10px;
}
.fixed img{
	width:220px;
	line-height: 70px;
	margin-top:10px;
}
.header a:hover{text-decoration:none;}
.fixed a:hover{text-decoration:none;}
.header .header-title{
	position: relative;
    left: 100px;
}
.fixed .header-title{
	position: relative;
    left: 100px;
}
.header-title >ul > li{float:left;position: relative;}
.header .header-title .title-li{
	color:#fff;
	display: inline-block;
	width: 100px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	position: relative;
	font-size:14px;
}
.fixed .header-title .title-li{
	color:#151515;
	display: inline-block;
	width: 100px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	position: relative;
	font-size:14px;
}
.header-title .title-li:hover{border-bottom: 2px solid #c7161e;}
.header-title .g1{margin-left: 30px;}
.phone{
	line-height: 70px;
	width: 140px;
}
.header .phone a{ font-weight: bold;font-style: italic;color:#fff;}
.fixed .phone a{ font-weight: bold;font-style: italic;color:#c7161e;}
.lian{line-height: 70px;}
.header .lian .l1{
	display: inline-block;
    width: 90px;
    background: #c7161e;
    color: #fff;
    height: 37px;
    line-height: 37px;
    text-align: center;
}
.fixed .lian .l1{
	display: inline-block;
    width: 90px;
    background: #c7161e;
    color: #151515;
    height: 37px;
    line-height: 37px;
    text-align: center;
}
.fixed .lian .l1{
	display: inline-block;
    width: 90px;
    background: #c7161e;
    color: #fff;
    height: 37px;
    line-height: 37px;
    text-align: center;
}
.header .lian .l2{
	margin-left: 20px;
	color:#fff;
}
.fixed .lian .l2{
	margin-left: 20px;
	color:#151515;
}
.header .lian .l2:hover{
   
    color:#c7161e;
}
.fixed .lian .l2:hover{

    color:#c7161e;
}
.dropdown-menu .divider{background:#333 !important;}
.header  .menu{
    display:none;
    height:0;
    opacity: 0;
    z-index:10;
    background: rgba(0,0,0,.4);
    position: absolute;
    width:170px;
    top: 70px;
}
.header .header-title .in{
    height:220px !important;
    opacity:1 !important;
    color: #151515;
    display: block !important;
    z-index:10;
    background: rgba(0,0,0,.75);
    position: absolute;
    width:170px;
    top: 69px;
  }  
  .fixed .header-title .in{
    height:210px !important;
    opacity:1 !important;
    color: #151515;
    display: block !important;
    z-index:10;
    background: rgba(0,0,0,.75);
    position: absolute;
    width:170px;
    top: 70px;
  }
  .fixed  .menu{
    display:none;
    height:0;
    opacity: 0;
    z-index:10;
    background: rgba(0,0,0,.4);
    position: absolute;
    width:170px;
    top: 70px;
}



.header .header-title .menu a{color:#eee;font-size:14px;}
.header .header-title .menu a:hover{color:#fff;background:rgba(0,0,0,.5);}
.header  .item{
	display: block;
	height: 34px;
    line-height: 34px;
}

}
.header .item:hover{
	background:#0f0f0f90;
}
.header  .item:visited{
	background:rgba(0,0,0,.5);
}
.header  .menu .item_son{
	width: 84px;
    text-align: center;
    display: block;
    border-left: 3px solid transparent;
    margin-left: 12px;
    color: #ccc !important;
}
.header .menu .item_son:hover{
	border-left:3px solid #c7161e;
}
.fixed .header-title .menu a{color:#fff;font-size:14px;}
.fixed .header-title .menu a:hover{color:#fff;}

.fixed  .item{
	display: block;
	height: 34px;
    line-height: 34px;
}
.fixed .item:hover{
	background:#0f0f0f90;
}
.fixed  .item:visited{
	background:rgba(0,0,0,.5);
}
.fixed  .menu .item_son{
	width: 84px;
    text-align: center;
    display: block;
    border-left: 3px solid transparent;
    margin-left: 5px;
    color: #777 !important;
}
.fixed .menu .item_son:hover{
	border-left:3px solid #c7161e;
}
/*banner*/

.banner .carousel-indicators .active {
    width: 30px;
    height: 4px;
    margin: 0;
    background-color: #c7161e;
    border: none;
}
.banner .carousel-inner .item img{width: 100%;}
.banner .carousel-indicators li {
    display: inline-block;
    width: 30px;
    height: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
}

.banner .banner-right .title{
    font-size:24px;
    color: #fff;
    margin-bottom: 40px;
}
.banner .banner-right input:nth-child(1){
    width: 95px;
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
}
.banner .banner-right input:nth-child(2){
    width:128px;
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
}
.banner .banner-right .i1{margin-top: 10px;}
.banner .banner-right .i1>input{
    width:237px;
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    margin: 5px 0;
}
.banner .banner-right .zix{
    width: 237px;
    text-align: center;
    line-height: 36px;
    background: #c7161e;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
}
@media (min-width: 768px) {
    .banner .banner-right{
    width: 350px;
    position: absolute;
    top: 4%;
    left: 17%;
    }
    .banner{
    width: 100%;
    height: 100%;
    }
}
@media (min-width: 992px) {
    .banner .banner-right{
    width: 350px;
    position: absolute;
    top: 8%;
    left: 26%;
    }
    .banner{
    width: 100%;
    height: 100%;
    }
    .floor{width:100%;}
}
@media (min-width: 1200px){
    .banner .banner-right{
    width: 350px;
    position: absolute;
    top: 19%;
    left: 26%;
    }
    .banner{
    width: 100%;
    height: 100%;
}
}

.banner .banner-right .zix a{color: #fff;}
.banner .banner-right .zix a:link{text-decoration:none;}
.banner .banner-right .zix a:visited{text-decoration:none;}
.banner .banner-right .zix a:hover{text-decoration:none;}
.banner .banner-right .zix a:active{text-decoration:none;}

/*floo1*/
.floor{
    margin-top: 50px;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}
.floor .title{
    font-size:22px;
    text-align: center;
    margin: 10px auto 0;
    color:#151515;
}
.floor .font{
    width: 280px;
    height: 430px;
    text-align: center;
    color:#151515;
    font-size: 16px;
    border: 1px solid transparent;
    margin-left: 10px; 
}
@media screen and (max-width: 980px){
    .floor .font{
    width: 175px;
    height: 400px;
    text-align: center;
    color:#151515;
    font-size: 16px;
    border: 1px solid transparent;
    margin-left: 10px;
    }
    .floor .font .i2{
        display: none;
    }
}
.floor .font:hover{
    box-shadow:1px 1px 10px #555;
}
.floor .font .title{
    font-size: 18px;
    color:#151515;
    margin: 15px 0;
}
.floor .font img{
    width: 130px;
    margin: 45px 0 10px;
}
.floor .font .i2{
    width: 12%;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: -18px;
}
.floor .font .t{
    font-size:14px;
    color:#808080;
    margin: 25px 0;
}
/*floor2*/
.floor2{position: relative;}
.floor2 .carousel-indicators .active {
    width: 30px;
    height: 4px;
    margin: 0;
    background-color: #c7161e;
    border: none;
}
.floor2 .carousel-inner .item img{width: 100%;}
.floor2 .carousel-indicators li {
    display: inline-block;
    width: 30px;
    height: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
}
.floor2 .font{
    position: absolute;
    width: 300px;
    top: 110px;
    left: 27%;
}
.floor2 .font .p1{
    font-size:34px;
    color: #c7161e;
}
.floor2 .font .p2{
    font-size:34px;
    color: #fff;
}
.floor2 .font .p3{
    font-size:18px;
    color: #fff;
}
@media screen and (max-width:559px){
    .floor2 .font{
    position: absolute;
    width: 300px;
    top: 23px;
    left: 16%;
    }
}
/*floor3*/
@media screen and (max-width: 980px){
    .floor3 .font{
        width: 241px !important;
        height: 290px !important;
        background: #fff;
        box-shadow: 0px 1px 15px #555;
        border-radius: 5px;
        margin-top: 50px !important;
        margin-left: 9px !important;
    }

}
.floor3{
    width: 100%;
    height: 666px;
    background-image: url('/ruiy/images/bg3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.floor3 .title{
    font-size:22px;
    text-align: center;
    margin: 10px auto 0;
    color:#151515;
    position: relative;
    top: 100px;
}
.floor3 .font{
    width:289px;
    height: 290px;
    background :#fff; 
    box-shadow: 0px 1px 15px #555;
    border-radius: 5px;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 66px;
}
.floor3 .p1 img{
    width: 88px;
    height: 88px;
    margin: 40px auto 25px;
}
.floor3 .p2{
    font-size:18px;
    color: #151515;
}
.floor3 .p3{
    font-size:18px;
    color: #151515;
    margin: 21px 0;
}
/*footer*/
.footer{
    width: 100%;
    background:#161616;
    padding: 40px 0 0;
    height: 660px;
}
.footer a:link{
}

.footer a:visited{
}
.footer a:active{
    
}
.footer .title{
    font-size: 20px;
    color: #fff;
    margin: 0 0 30px; 
    display: block;
}
.footer .yi a{
    font-size: 16px;
    color: #fff;
    display: block;
    margin: 15px 0;
    border-left: 2px solid transparent;
    padding: 3px 0;
}
.footer .yi a:hover{
    border-left: 2px solid #c7161e;
    background:#0a0a0a;
    text-decoration: none;
    padding-left: 8px;
}
.footer .yi .er a{
    font-size: 14px;
    color: #777;
    display: block;
    margin: 5px 0;
    border-left: 2px solid transparent;
    padding: 3px 0;
}
.footer .yi .er a:hover{
    border-left: 2px solid #c7161e;
    background:#0a0a0a;
    text-decoration: none;
    padding-left: 8px;
}
.footer .img{
    position: relative;
    top: -15px;
    left: -20px;
    width: 100%;
}
.footer .xtub{
    margin-top: 190px;

}
.footer .xtub img{
    margin-right: 10px;
}
.footer .foot{
    background: #0a0a0a;
    padding: 30px 0;
    color: #fff;
    font-size: 16px;
    width: 100%;
    text-align: center;
    position: relative;
    top: 50px;
}
.footer .ch{
    position: absolute;
    width: 300px;
    top: 477px;
}
@media screen and (max-width: 980px){
    .footer .container .col-sm-2{
        padding: 0;
    }
    .footer .foot {
    background: #0a0a0a;
    padding: 30px 0;
    color: #fff;
    font-size: 16px;
    width: 100%;
    text-align: center;
    position: relative;
    }
}
/*咨询*/
/*nav*/
.navr{
    text-align: center;
    background: #e9e9e9;
    position: relative;
    z-index: 10;
    width: 100%;
}
.navr ul{list-style: none;}
.navr ul li{display: inline-block;margin: 0 auto;}
.navr ul li a{
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #151515;
    font-size: 14px;
}

.navr .xian{color:#7777779c;font-size: 18px;}
.navr .active{text-decoration: underline;font-weight: bold;}
.navf .active{text-decoration: underline;font-weight: bold;}
.navf{
        position: fixed;
        top: 70px;
        text-align: center;
        background: #e9e9e9;
        z-index: 10;
        width: 100%;
}
.navf ul{list-style: none;}
.navf ul li{display: inline-block;margin: 0 auto;}
.navf ul li a{
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #151515;
    font-size: 14px;
}
.navf .xian{color:#7777779c;font-size: 18px;}
/*content*/
.ban-left {
    position: absolute;
    left: 1060px;
    top: 200px;
}
.ban-left p{
    font-size: 28px;
    color: #ddd;
}
.content{width: 100%; padding: 20px 0;background:#f4f6f5;}
.content .box{
    width: 230px;
    border: 1px solid #ddd;
    padding: 10px 10px 10px;
    border-top: 2px solid #c7161e;
    background: #fff;
    margin-bottom: 14px;
    border-radius:2px;
}

.content .box a{margin-right: 5px;}
.content .box .xian{font-size: 15px;color: #7777779c;margin-right: 10px;}
.content .box .title{
    font-size: 16px;
    color: #151515;
    margin-right: 5px;
    border-bottom: 1px solid #7777779c;
    line-height: 35px;
}
.content .box .s1{
    margin-left: 10px;
}
.content .box .wei{
    font-size: 15px;
    margin-left: 10px;
    color: #252525;
    margin-top: 10px;
}
.content .box .w1{
    font-size: 14px;
   color: #777;
}
.content1{background: #fff;padding: 10px 90px 40px;}
.content1 .title{
    font-size: 23px;
    width: 100px;
    border-bottom: 2px solid #c7161e;
    line-height: 40px;
    margin: 28px auto 30px;
    text-align: center;
}
.content1 .font1{
    width: 490px;
    display: inline-block;
    font-size: 14px;
    color: #252525;
    margin-bottom: 28px;
    line-height: 30px;
}
.content1 .f1_img{
    width: 230px;
    display: inline-block;
    margin: -115px 20px 0;
}
.content1 .font2{
    width: 760px;
    margin-bottom: 30px;
    line-height: 30px;
}
.content1 .f_f{
    display:inline-block;
    margin-left: 20px;
}
.content1 .f_f_1{    
    position: relative;
    top: 17px;
}
.content1 .f_f .f1{
    font-size:15px;
    color: #151515;
    font-weight:bold;
}
.content1 .f_i{
    border-radius:50%;
}
.content1 .f_f_2{    
    position: relative;
    top: 33px;
}
.content2{
    background:#fff;
    background-image: url('/ruiy/images/zx_21.jpg');
    background-position: center;
    height: 930px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;

}
.content2 .title{
    font-size: 23px;
    color: #151515;
    width: 120px;
    border-bottom: 2px solid #c7161e;
    text-align: center;
    margin: 0 auto;
    padding: 125px 0 12px;
}
.content2 .hr{
    width: 800px;
    text-align: center;
    margin: 59px auto 82px;
    border-top: 1px solid #ccc;
}
.content2 .font{
    width: 528px;
    margin: 0 auto;
    font-size: 16px;
}
.content2 .f1{
    font-size: 15px;
    line-height: 31px;
    margin-bottom: 31px;
}
.content3{background:#fff;
    padding: 20px;
}
.content3 .title{
    font-size: 23px;
    color: #151515;
    width: 165px;
    text-align: center;
    border-bottom: 2px solid #c7161e;
    margin: 0 auto 40px;
    line-height: 56px;
}
.content3 .name{
    font-size: 23px;
    color: #252525;
}
.content3 .hr{
    border-top: 2px dotted #ccc;
    width: 548px;
    margin: 6px 0;
}
.content3 .ceo{
    font-size: 20px;
    color: #151515;
}
.content3 .y1{
    font-size: 16px;
    color: #252525;
}
.content3 .y1 span{
    color: #555;
    margin-left: 20px;
}
.content3 .cont{
    font-size: 14px;
    color: #252525;
    width: 90%;
    line-height: 30px;
    margin-top: 21px;
}
.content3 .t2{margin-top: 30px;}
.content3 .ul1{
  font-size: 14px;
  color: #151515;
}
.content3 .ul1 li{
    font-size: 14px;
    color: #252525;
    line-height: 30px;
}
/*news*/
.content .news{
    background: #fff;
    padding: 30px 30px 0;
    width: 80%;
    margin-right: 16px;
}
.news .title a{
    font-size: 18px;
    color: #151515;
}
.news .cont{
    font-size:14px;
    color: #555;
    margin: 10px 0;
}
.news .date{
    color:#999;
}
.content .news .news_b{margin-bottom: 20px;}
.content .news .chak a{
    display: block;
    color: #fff;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background:#c7161e;
    text-align: center;
    margin: 20px auto 30px;
}
.content .news .chak a:hover{text-decoration: none;}
/*new_list*/
.content .new_list{
    background:#fff;
    width: 80%;
    margin-right: 16px;
}
.content .new_list .wenz{
    width: 100%;
    border-top: none;
    padding: 50px;
}
.content .new_list .wenz .top{
    margin-bottom: 20px;
}
.content .new_list .wenz .h{
    color: #eee;
    width: 98%;
    margin: 20px 0 30px 0;
}
.content .new_list .wenz .title{
    font-size: 23px;
    color: #151515;
    text-align: center;
    line-height: 50px;
}
.content .new_list .wenz .date{
    font-size: 14px;
    color: #999;
    text-align: center;
    margin: 20px 0;
}
.content .new_list .wenz .center{
    line-height:29px;
}
.content .new_list .bottom{
    margin-top: 45px;
}
.content .new_list .bottom .prev{margin-bottom: 18px;}
.content .new_list .bottom .prev a{color: #252525;font-size: 14px;}
.content .new_list .bottom .next a{color: #252525;font-size: 14px;}
.content .new_list .bottom .prev a:hover{
    color: #c7161e;
    text-decoration: none;
}
.content .new_list .bottom .next a:hover{
    color: #c7161e;
    text-decoration: none;
}
/*lainx*/
.content .lianx{
    background: #fff;
    width: 80%;
    margin-right: 15px;
    padding: 50px 90px;
}
.content .lianx .title{
    font-size: 21px;
    color: #151515;
    margin-bottom: 20px;
}
.content .lianx .dizhi{
    font-size: 14px;
    color: #151515;
    margin-bottom: 10px;
}
.content .lianx .call{
    font-size: 14px;
    color: #151515;
}
.content .lianx .bot{margin-bottom: 50px;}
.content .lianx .lianx_box{
    width: 758px;
    margin: 0 auto;
    padding: 40px 85px;
    box-shadow: 1px 1px 10px #777;
}
.content .lianx .lianx_box .title{
    font-size:18px;
    color: #252525;
    text-align: center;
    margin: 0;
}
.content .lianx .them{
    font-size:23px;
    color: #252525;
    text-align: center;
    margin: 76px 0 50px;
}
.content .lianx .lianx_box .xm,
.content .lianx .lianx_box .gs,
.content .lianx .lianx_box .fs{
    color: #252525;
    font-size:14px;
    margin-bottom: 21px;
    text-align: center;
    margin-left: -74px;
}
.content .lianx .lianx_box input{
    border: none;
    background: #eee;
    padding: 9px 10px;
    outline: none;
    width: 213px;
}
.content .lianx .lianx_box .sub a{
    background: #c7161e;
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 213px;
    color: #fff;
    height: 40px;
    line-height: 40px;
}
/*3.2地产*/
.content .land{
    padding: 30px;
    background:#fff;
    width: 80%;
    margin-right: 20px;
}
.land .top{
    font-size: 14px;
    color: #252525;
    line-height: 29px;
    padding: 0 16px;
    margin-bottom: 20px;
}
.land .shi .them{
    font-size: 23px;
    color: #252525;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    border-bottom:2px solid #c7161e;
}
.land .shi .box{
    margin: 20px 0;
    position: relative;
    width: 100%;
    border: none;
}
.land .shi .box .title{
    font-weight: bold;
    color: #151515;
    border-bottom: none;
}
.land .shi .box .des{
    font-size: 14px ;
    color: #252525;
    line-height: 30px;
}
/*解决方案*/
.content .jie {
    padding: 40px;
    background:#f7f3f2;
    width: 80%;
    margin-right: 20px;
}
.jie .them{
    font-size: 23px;
    width: 200px;
    text-align: center;
    margin: 10px auto;
    border-bottom: 2px solid #c7161e;
}
.jie .des{
    font-size: 14px ;
    color: #252525;
    line-height: 30px;
    margin-top: 30px;
}
.jie ol{
    font-size: 14px ;
    color: #252525;
    line-height: 30px;
    margin: 20px 20px;
}
/*睿远价值*/
.content .jia {
    padding: 40px;
    background:#fff;
    width: 80%;
    margin-right: 20px;
}
.jia .them{
    font-size: 23px;
    width: 200px;
    text-align: center;
    margin: 10px auto;
    border-bottom: 2px solid #c7161e;
}
.jia .des{
    font-size: 14px ;
    color: #252525;
    line-height: 30px;
    margin-top: 30px;
}
.jia ol{
    font-size: 14px ;
    color: #252525;
    line-height: 30px;
    margin: 20px 20px;
}
/*3.1.1经销商*/
.content .dealer{
    padding: 30px;
    background:#fff;
    width: 80%;
    margin-right: 20px;
}
.dealer .top{
    font-size: 14px;
    color: #252525;
    line-height: 29px;
    padding: 0 16px;
    margin-bottom: 20px;
}
.dealer .shi .them{
    font-size: 23px;
    color: #252525;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    border-bottom:2px solid #c7161e;
}
.dealer .shi .box{
    margin: 20px 0;
    position: relative;
    width: 100%;
    border: none;
}
.dealer .shi .box .title{
    font-weight: bold;
    color: #151515;
    border-bottom: none;
}
.dealer .shi .box .des{
    font-size: 14px ;
    color: #252525;
    line-height: 30px;
}
/*解决方案*/
.content .jie {
    padding: 40px;
    background:#f7f3f2;
    width: 80%;
    margin-right: 20px;
}
.jie .them{
    font-size: 23px;
    width: 200px;
    text-align: center;
    margin: 10px auto;
    border-bottom: 2px solid #c7161e;
}
.jie .des{
    font-size: 14px ;
    color: #252525;
    line-height: 30px;
    margin-top: 30px;
}
.jie ol{
    font-size: 14px ;
    color: #252525;
    line-height: 30px;
    margin: 20px 20px;
}
/*睿远价值*/
.content .jia {
    padding: 40px;
    background:#fff;
    width: 80%;
    margin-right: 20px;
}
.jia .them{
    font-size: 23px;
    width: 200px;
    text-align: center;
    margin: 10px auto;
    border-bottom: 2px solid #c7161e;
}
.jia .des{
    font-size: 14px ;
    color: #252525;
    line-height: 30px;
    margin-top: 30px;
}
.jia ol{
    font-size: 14px ;
    color: #252525;
    line-height: 30px;
    margin: 20px 20px;
}
/*3.1.2主机厂*/
.content .engine{
    padding: 30px;
    background:#fff;
    width: 80%;
    margin-right: 20px;
}
.engine .top{
    font-size: 14px;
    color: #252525;
    line-height: 29px;
    padding: 0 16px;
    margin-bottom: 20px;
}
.engine .shi .them{
    font-size: 23px;
    color: #252525;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    border-bottom:2px solid #c7161e;
}
.engine .shi .box{
    margin: 20px 0;
    position: relative;
    width: 100%;
    border: none;
}
.engine .shi .box .title{
    font-weight: bold;
    color: #151515;
    border-bottom: none;
}
.engine .shi .box .des{
    font-size: 14px ;
    color: #252525;
    line-height: 30px;
}
/*2.1serve*/
.content .serve{
    padding: 30px;
    background:#fff;
    width: 80%;
    margin-right: 20px;
}
.serve .top{
     font-size: 14px;
    color: #252525;
    line-height: 29px;
    padding: 0 16px;
    margin-bottom: 20px;
}
/*2.1.1innovate*/
.content .innovate{
    padding: 30px;
    background:#fff;
    width: 80%;
    margin-right: 20px;
}
.content .innovate .img img{
    position: relative;
    width: 100%;
}
/*2.2软件*/
.content .softwave{
    padding: 30px;
    background:#fff;
    width: 80%;
    margin-right: 20px;
}
.content .softwave .img img{
    position: relative;
    width: 100%;
}
/*2.1.3软件*/
.content .itconsult{
    padding: 30px;
    background:#fff;
    width: 80%;
    margin-right: 20px;
}
.content .itconsult .img img{
    position: relative;
    width: 100%;
}
/*2.2.2软件*/
.content .sap{
    padding: 30px;
    background:#fff;
    width: 80%;
    margin-right: 20px;
}
.content .sap .img img{
    position: relative;
    width: 100%;
}
/*2.2.2软件*/
.content .salesforce{
    padding: 30px;
    background:#fff;
    width: 80%;
    margin-right: 20px;
}
.content .salesforce .img img{
    position: relative;
    width: 100%;
}
/*报名表单*/
.list .gg{
    font-size: 14px;
    color: red;
    text-align: center;
    margin-top: 30px;
}
.list .ts{
    font-size: 14px;
    color: #252525;
    text-align: center;
    background:#fff;
    margin-bottom: 30px;
    padding: 5px 0;
}
.list .box{
    padding: 20px;
    background:#fff;
    box-shadow: 1px 1px 10px #999;
}
.list .box .box_l{
    border: 1px solid #7c7c7c;
    padding: 20px 50px;
}
.list .box label{
    padding: 10px 0 10px 10px;
}
.list input[type='radio']{margin: 0 4px 0 10px}

